@page "{searchString?}"
@model OrderManage.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create"><button type="button" class="btn btn-success">Create New <i class="fa-solid fa-person-circle-plus"></i></button></a>
    <header style="background:none;margin-left:-9%;width:50%"  class="header">
         
          <form action="" class="search-form">
               <input type="search" id="search-box" asp-for="SearchProducts" placeholder="search here...">
               <label for="search-box" class="fas fa-search"></label>
          </form>
               
    </header>
</p>
<br/>

<table  class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierId)
            </td>
            <td>
               <div class="d-grid gap-2  d-md-flex" >
                    <a asp-page="./Edit" asp-route-id="@item.ProductId"><button type="button"  class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    <a asp-page="./Details" asp-route-id="@item.ProductId"><button type="button" class="btn btn-info"><i class="fa-solid fa-barcode"></i></button></a>
                    <a asp-page="./Delete" asp-route-id="@item.ProductId"><button type="button"  class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Products.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    <i class="fa-solid fa-circle-arrow-left"></i>
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Products.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
   <i class="fa-solid fa-circle-arrow-right"></i>
</a>